.button-and-modal-container {
    position: fixed;
    bottom: 10px;
    left: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.modal-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;

    background: rgba(255, 255, 255, 0.303);
    border-radius: 15px;
    padding: 7px;
    border: 1px solid rgba(223, 223, 223, 0.939);
    border: 1px solid rgba(223, 223, 223, 0.638);
    background: rgba(255, 255, 255, 0.576);

}

button {
    border: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
}

button.info-button:hover {
    box-shadow: none;
}

.white {
    color: white;
}

.social-link {
    /* color: rgba(255, 255, 255, 0.713); */
    color: rgb(70, 39, 194);
    margin-left: 5px;
}

.info-icon {
    color:rgba(24, 24, 24, 0.713)
}

.info-icon:hover {
    opacity: 70%;
}

.social-link:hover {
    opacity: 65%;
}


.social-links {
    display: flex;
    align-items: center;
    border-left: 2px solid rgba(255, 255, 255, 0.37);
}

.social-links a {
    display: flex;
    align-items: center;
}
.tech-stack {
    display: flex;
    align-items: center;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.713)

}

.tech-stack * {
    margin-right: 10px;
}
