#root {
    width: 100%;
    height: 100%;
}



.button-and-modal-container {
    right: 10px;
}

body {
    background: rgb(123,67,244);
    background: linear-gradient(135deg, rgb(105, 67, 244) 25%, rgb(210, 198, 252) 95%);

}


/* .home-page.square-card.note-card:hover, .home-page.square-card.create-note-card:hover {
    border: none;
} */

div.blue-card {
    background-color: rgb(108, 211, 245);
    transition: background-color .25s ease;
}

div.blue-card:hover {
    background-color: rgb(99, 204, 238);

}


div.no-border:hover {
    border: none;

}


div#notebook-card {
    display: flex;
    justify-content: center;
    align-items: center;
}


h3.notebook-title {
    padding-top: 10px;
}
