.button-and-modal-container {
    right: 10px;
}


div.blue-card {
    background-color: rgb(108, 211, 245);
    transition: background-color .25s ease;
}

div.blue-card:hover {
    background-color: rgb(99, 204, 238);

}


div#notebook-card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


h3.notebook-title {
    padding-top: 10px;
    text-align: center;
}
