.square-card {
    width: 200px;
    height: 200px;
    border-radius: 15px;

    padding: 10px;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}


.square-card:hover {
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
    border: 1px solid rgba(0, 0, 0, 0.5);

}

.create-note-card {
    background-color: rgb(171, 233, 212);
    transition: background-color .25s ease;
}
.create-note-card:hover {
    background-color: rgb(129, 226, 194);

}

h1.notes-title {
    color: rgba(255, 255, 255, 0.95);
    font-size: 36px;
    padding-left: 10px;
}

.note-card {
    background-color: rgba(255, 255, 255, 0.85);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.notes-page-outer-container {
    height: 100%;
    width: calc(100% - 250px);
    /* flex-grow: 1; */
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;


}

.notes-page-container {
    width: 90%;
    height: 90%;

    display: flex;
    flex-direction: column;
}

.notes-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap:wrap;
    /* overflow-y: scroll; */
}

h3.note-card-title {
    font-size: 15px;
    margin: 0 0  10px 0;
}

p.note-card-content {
    font-size: 13px;
    margin: 0;
    flex-grow: 1
}

p.note-card-date {
    font-size: 12px;
    margin: 0;
}
