button#more-spec.delete-tag {
    display:flex;
    align-self: flex-end;
    margin-top:5px;
    padding-right: 5px;
}

button.delete-tag:hover {
    color: rgb(250, 76, 76);
}


#tags-title {
    margin-right: 10px;
}


.editor {
    overflow-y: auto;
    height: 100%;
}

/*  */
/* .ck.ck-editor , .ck-editor__main,  .ck-content{
    height: 85%;
} */

/* .ck.ck-editor {
    overflow-y: scroll;
} */

.ck-editor__main {
    overflow-y: auto;
}
