div.flex-end {
    display: flex;
    align-items: flex-end;
}

label#sort {
    padding-right: 10px;
}

table.notebooks-table {
    width: 100%;
    /* height: inherit; */
    /* overflow-x: scroll; */
}

tr.header-row {
    margin: 10px 0;
}


th.header-col {
    text-align: left;

}


th.updatedAt-header {
    width: 200px;
    text-align:left;

}


th.actions-header {
    /* text-align: right; */
    width: 50px;
}
th.actions-header2 {
    text-align: right;
    width: 225px;
}



td.notebooks-table-data {
    padding: 5px 0;
}

td.notebooks-table-data * {
    vertical-align: middle;
    font-size: 16px;
}

td.updatedAt-data {
    text-align: left;
}


td.actions-data {
    text-align: center;
}

td.actions-data2 {
    text-align: right;
}

table {
    border-collapse: collapse;
}

.arrow-right-icon.open {
    transform: none;
}



.align-items-center {
    display: flex;
    align-items: center;
}
.add-side-padding {
    padding: 0 5px;
}
