.nav-sidebar-container {
    display: flex;
    /* padding: 5px 0px; */
    align-items: center;
    padding: 10px;

}

.home-nav {
    margin-left: 30px;
}


.filler {
    width: 24px;
    height: 24px;
}


.nav-sidebar-container > button.arrow-right-button {
    border: none;
    background-color: transparent;
    padding: 0;
    display: flex;
    align-items: center;
}


h4 {
    padding-left: 10px;
}


.icon {
    color: #bea3fa;

    color: #5D2BC5;
}


.arrow-right-button {
    display: flex;
    align-items: center;
    /* padding-left: 10px; */
}


.nav-icon-container {
    display: flex;
    align-items: center;
}

.arrow-right-icon.open {
    transform: rotate(90deg);
}


.arrow-icon-container {
    display: flex;
    align-items: center;
}

.nav-sidebar-container:hover, .nav-icon-container:hover h4:hover {
    font-weight: 900;
    background-color: #f3f3f3;
}
