button.red-hover {
    transition: color .24s ease;
}

button.red-hover:hover {
    color: red
}


td button span.smaller-text {
    font-size: 13px;
}

span.smaller-text:hover {
    color: rgb(220, 55, 55);
}
